@{
    ViewData["Title"] = "Invoice";
}
@model WarehouseWebMVC.ViewModels.WarehouseViewModel

<section class="sherah-adashboard sherah-show">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sherah-body">
                    <!-- Dashboard Inner -->
                    <div class="sherah-dsinner">
                        <div class="row mg-top-30">
                            <div class="col-12">
                                <!-- Sherah Breadcrumb -->
                                <div class="sherah-breadcrumb">
                                    <h2 class="sherah-breadcrumb__title">Warehouse</h2>
                                    <ul class="sherah-breadcrumb__list">
                                        <li><a href="#">Home</a></li>
                                        <li class="active"><a href="order-list.html">Warehouse</a></li>
                                    </ul>
                                </div>
                                <!-- End Sherah Breadcrumb -->
                            </div>
                        </div>
                        <div class="row mg-top-10" style="margin-right: -2.2rem;">
                            <div class="row col-10">
                                <div class="col-lg-4 col-md-6 col-10">
                                    <!-- Progress Card -->
                                    <div class="sherah-progress-card sherah-border sherah-default-bg mg-top-30">
                                        <div class="sherah-progress-card__icon sherah-default-bg sherah-border">
                                            <svg class="sherah-color4__fill" xmlns="http://www.w3.org/2000/svg" width="26.672" height="30.636" viewBox="0 0 26.672 30.636">
                                                <g id="Group_70" data-name="Group 70" transform="translate(-272.518 -5.918)">
                                                    <path id="Path_251" data-name="Path 251" d="M285.855,36.554q-5.443,0-10.885,0a2.152,2.152,0,0,1-2.447-2.412q-.01-9.39.014-18.78a3.035,3.035,0,0,
                                                    1,.383-1.406c1.292-2.312,2.644-4.59,3.947-6.9a2.07,2.07,0,0,1,1.993-1.141q7,.028,13.995,0a2.075,2.075,0,0,1,1.991,1.147c1.327,2.338,2.7,4.652,4.022,6.991a2.4,2.4,0,0,
                                                    1,.306,1.124q.028,9.48.011,18.959a2.152,2.152,0,0,1-2.445,2.414Q291.3,36.556,285.855,36.554ZM297.39,15.348H274.351c-.012.211-.03.387-.031.562q0,9.057-.011,18.113c0
                                                    ,.577.186.746.758.744q10.73-.025,21.461-.011c.858,0,.86,0,.86-.861q0-8.937,0-17.874ZM284.969,7.724c-2.077,0-4.089-.01-6.1.017a.778.778,0,0,0-.516.374c-.971,1.646-
                                                    1.92,3.305-2.871,4.963a2.945,2.945,0,0,0-.152.376h9.64Zm11.423,5.748a1.4,1.4,0,0,0-.08-.258c-1-1.741-2-3.485-3.029-5.212a.773.773,0,0,0-.576-.267c-1.832-.02-3.664-.013-5.5-.009a2.737,2.737,0,0,0-.373.048v5.7Z" />
                                                    <path id="Path_252" data-name="Path 252" d="M351.281,143.152l3.6-3.605c.141-.141.275-.288.426-.418a.889.889,0,1,1,1.262,
                                                    1.253c-.4.439-.837.851-1.259,1.273q-1.582,1.583-3.166,3.164c-.63.627-1.05.632-1.669.02-.636-.629-1.274-1.258-1.9-1.9a.886.886,0,0,1-.063-1.365.906.906,0,0,1,
                                                    1.328.1C350.317,142.133,350.762,142.615,351.281,143.152Z" transform="translate(-66.652 -117.042)" />
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="sherah-progress-card__content">
                                            <div class="sherah-progress-card__heading">
                                                <span class="sherah-pcolor">Low Alert</span>
                                                <h4 class="sherah-progress-card__title"><b class="count-animate">10 Product</b></h4>
                                            </div>
                                            <div class="sherah-progress-card__button">
                                                <p class="sherah-progress-card__text sherah-color4">
                                                    <svg class="sherah-color4__fill" xmlns="http://www.w3.org/2000/svg" width="8.407" height="15.353" viewBox="0 0 8.407 15.353">
                                                        <g id="Arrow_Icon" data-name="Arrow Icon" transform="translate(593.377 321.353) rotate(180)">
                                                            <path id="Path_247" data-name="Path 247" d="M267.12,84.017c-.794.794-1.506,1.529-2.249,2.231a.7.7,0,0,1-1.2-.195.615.615,0,0,1
                                                            ,.177-.742q.744-.738,1.483-1.481.949-.949,1.9-1.9a.718.718,0,0,1,1.185-.016q1.659,1.653,3.311,3.312a.7.7,0,0,1,.077,1.067.718.718,0,0
                                                            ,1-1.069-.08c-.712-.708-1.422-1.418-2.206-2.2,0,.193,0,.312,0,.431q0,5.747.005,11.495c0,.076,0,.153,0,.229a.719.719,0,0,1-.689.8.71.71,0,0
                                                            ,1-.718-.8q-.008-3.406-.006-6.812,0-2.44,0-4.88C267.119,84.356,267.12,84.237,267.12,84.017Z" transform="translate(321.362 224.389)" />
                                                        </g>
                                                    </svg>
                                                    +80.00 %
                                                </p>
                                                <a href="#" class="sherah-see-all">View Details</a>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End Progress Card -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-10">
                                    <!-- Progress Card -->
                                    <div class="sherah-progress-card sherah-border sherah-default-bg mg-top-30">
                                        <div class="sherah-progress-card__icon sherah-default-bg sherah-border">
                                            <svg class="sherah-color2__fill" xmlns="http://www.w3.org/2000/svg" width="26.672" height="30.636" viewBox="0 0 26.672 30.636">
                                                <g id="Group_70" data-name="Group 70" transform="translate(-272.518 -5.918)">
                                                    <path id="Path_251" data-name="Path 251" d="M285.855,36.554q-5.443,0-10.885,0a2.152,2.152,0,0
                                                    ,1-2.447-2.412q-.01-9.39.014-18.78a3.035,3.035,0,0,1,.383-1.406c1.292-2.312,2.644-4.59,3.947-6.9a2.07,2.07,0,0,1,1.993-1.141q7,.028,13.995,0a2.075
                                                    ,2.075,0,0,1,1.991,1.147c1.327,2.338,2.7,4.652,4.022,6.991a2.4,2.4,0,0,1,.306,1.124q.028,9.48.011,18.959a2.152,2.152,0,0,1-2.445,2.414Q291.3,36.556,285.855
                                                    ,36.554ZM297.39,15.348H274.351c-.012.211-.03.387-.031.562q0,9.057-.011,18.113c0,.577.186.746.758.744q10.73-.025,21.461-.011c.858,0,.86,0,.86-.861q0-8.937
                                                    ,0-17.874ZM284.969,7.724c-2.077,0-4.089-.01-6.1.017a.778.778,0,0,0-.516.374c-.971,1.646-1.92,3.305-2.871,4.963a2.945,2.945,0,0,0-.152.376h9.64Zm11.423
                                                    ,5.748a1.4,1.4,0,0,0-.08-.258c-1-1.741-2-3.485-3.029-5.212a.773.773,0,0,0-.576-.267c-1.832-.02-3.664-.013-5.5-.009a2.737,2.737,0,0,0-.373.048v5.7Z" />
                                                    <path id="Path_252" data-name="Path 252" d="M351.281,143.152l3.6-3.605c.141-.141.275-.288.426-.418a.889.889
                                                    ,0,1,1,1.262,1.253c-.4.439-.837.851-1.259,1.273q-1.582,1.583-3.166,3.164c-.63.627-1.05.632-1.669.02-.636-.629-1.274-1.258-1.9-1.9a.886.886,0,0,1-.063-1.365.906.906
                                                    ,0,0,1,1.328.1C350.317,142.133,350.762,142.615,351.281,143.152Z" transform="translate(-66.652 -117.042)" />
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="sherah-progress-card__content">
                                            <div class="sherah-progress-card__heading">
                                                <span class="sherah-pcolor">Out of Stock</span>
                                                <h4 class="sherah-progress-card__title"><b class="count-animate">0 Product</b></h4>
                                            </div>
                                            <div class="sherah-progress-card__button">
                                                <p class="sherah-progress-card__text sherah-color2">
                                                    <svg class="sherah-color2__fill" xmlns="http://www.w3.org/2000/svg" width="8.407" height="15.353" viewBox="0 0 8.407 15.353">
                                                        <g id="Arrow_Icon" data-name="Arrow Icon" transform="translate(593.377 321.353) rotate(180)">
                                                            <path id="Path_247" data-name="Path 247" d="M267.12,84.017c-.794.794-1.506,1.529-2.249,2.231a.7.7,0,0,1-1.2-.195.615.615,0
                                                            ,0,1,.177-.742q.744-.738,1.483-1.481.949-.949,1.9-1.9a.718.718,0,0,1,1.185-.016q1.659,1.653,3.311,3.312a.7.7,0,0,1,.077,1.067.718.718,0,0
                                                            ,1-1.069-.08c-.712-.708-1.422-1.418-2.206-2.2,0,.193,0,.312,0,.431q0,5.747.005,11.495c0,.076,0,.153,0,.229a.719.719,0,0,1-.689.8.71.71,0,0
                                                            ,1-.718-.8q-.008-3.406-.006-6.812,0-2.44,0-4.88C267.119,84.356,267.12,84.237,267.12,84.017Z" transform="translate(321.362 224.389)" />
                                                        </g>
                                                    </svg>
                                                    +80.00 %
                                                </p>
                                                <a href="#" class="sherah-see-all">View Details</a>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End Progress Card -->
                                </div>
                            </div>
                            <div class="col-2" style="display: flex; align-items: end; justify-content: end; text-align:center">
                                <a asp-area="" asp-controller="Warehouse" asp-action="ImportProduct" class="" 
                                style="padding: 8px 15px; width: 180px; background-color: #6176FE; color:#fff; border-radius: 4px;">Warehouse Import</a>
                            </div>
                        </div>
                        <div class="sherah-table sherah-page-inner sherah-border sherah-default-bg mg-top-10" style="padding-top: 0;">
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <form>
                                        <div id="sherah-table__vendor_filter" class="dataTables_filter">
                                            <label for="search-input" style="position: relative;">
                                                <span class="sherah-data-table-label" style="font-size:1rem;position: relative; top:2.6rem; left:18.5rem; z-index: 4;">Search</span>
                                            </label>
                                            <div class="input-group display-flex" style="position: relative;">
                                                <select id="searchType" class="col-2" name="searchType" style="height:40px; width: 70px; font-size:0.75rem;color:#666;">
                                                    <option value="0">Type</option>
                                                    <option value="name">Name</option>
                                                    <option value="supplier">Supplier</option>
                                                </select>
                                                &nbsp;
                                                <input style="flex-shrink:0;width:auto;z-index:2;" type="search" id="search-input" class="col-2 form-control form-control-sm" placeholder="Search" aria-controls="sherah-table__vendor">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--style="max-height:350px;overflow-y:auto;overflow-x:hidden;margin-top:10px;position:relative;"-->
                            <table id="sherah-table__main-product" class="sherah-table__vendor sherah-table__main-v3" style=" border: 1px solid #e2e7f1;">
                                <!-- sherah Table Head -->
                                <!--style="position:sticky;top:0;z-index:1;"-->
                                <thead class="sherah-table__head" style="display:block;">
                                    <tr>
                                        <th class="sherah-table__column-1" style=" min-width:270px; font-size: 16px;">Product Name</th>
                                        <th class="sherah-table__column-2" style=" min-width:120px; padding-left:10px; font-size: 16px;">Supplier Name</th>
                                        <th class="sherah-table__column-3" style=" min-width:40px; padding-left:5px; font-size: 16px;">FQuantity</th>
                                        <th class="sherah-table__column-4" style=" min-width:80px; padding-left:5px; font-size: 16px; text-align: center">Import Quantity</th>
                                        <th class="sherah-table__column-5" style=" min-width:100px; padding-left:10px; font-size: 16px;">Import Price</th>
                                        <th class="sherah-table__column-6" style=" min-width:40px; padding-left:5px; font-size: 16px;">Current Quantity</th>
                                        <th class="sherah-table__column-7" style=" min-width:40px; padding-left:5px; font-size: 16px; text-align: center">Unit</th>
                                        <th class="sherah-table__column-8" style=" min-width:120px; padding-left:0; font-size: 16px; text-align: center">Total Stock Price</th>
                                    </tr>
                                </thead>
                                <!--style="height: 100%;"-->
                                <tbody class="sherah-table__body" style="display:block;overflow-y:scroll;max-height:250px;">
                                    @foreach (var warehouse in Model.Warehouses)
                                    {
                                        <tr style="height: 20px;">
                                            <td class="sherah-table__column-1 sherah-table__data-1" style="min-width:280px;padding:12px;text-align:center;">
                                                <div class="sherah-language-form__input">
                                                    <p class="crany-table__product--number"><a href="/Warehouse/WarehouseDetail?productId=@warehouse.Product.ProductId" class="sherah-color1" style="font-size: 14px;">@warehouse.Product.Name</a></p>
                                                </div>
                                            </td>
                                            <td class="sherah-table__column-2 sherah-table__data-2" style="min-width:150px;padding:12px 12px 12px 0;text-align:center;">
                                                <div class="sherah-table__product-content">
                                                    <p class="sherah-table__product-desc"><a asp-controller="Supplier" asp-action="SupplierList" class="sherah-color1" style="font-size: 14px; font-weight: 400">@warehouse.Product.Supplier.Name</a></p>
                                                </div>
                                            </td>
                                            <td class="sherah-table__column-3 sherah-table__data-3" style="min-width:40px; padding:12px 12px 12px 0;text-align:center;">
                                                <p class="sherah-table__product-desc">@warehouse.QuantityAtBeginPeriod</p>
                                            </td>
                                            <td class="sherah-table__column-4 sherah-table__data-4" style="min-width:40px; padding:12px 12px 12px 0;text-align:center;">
                                                <div class="sherah-table__product-content">
                                                    <p class="sherah-table__product-desc" style="font-size: 14px;">@warehouse.QuantityImport</p>
                                                </div>
                                            </td>
                                            <td class="sherah-table__column-5 sherah-table__data-5" style="min-width:100px; padding:12px 12px 12px 0;text-align:center;">
                                                <div class="sherah-table__product-content">
                                                    <p class="sherah-table__product-desc" style="font-size: 14px;">$@warehouse.PriceImport</p>
                                                </div>
                                            </td>
                                            <td class="sherah-table__column-6 sherah-table__data-6" style="min-width:40px; padding:12px 12px 12px 0;text-align:center;">
                                                <div class="sherah-table__product-content">
                                                    <p class="sherah-table__product-desc" style="font-size: 14px;">@warehouse.Quantity</p>
                                                </div>
                                            </td>
                                            <td class="sherah-table__column-7 sherah-table__data-7" style="min-width:40px; padding:12px 12px 12px 0;text-align:left;">
                                                <div class="sherah-table__product-content">
                                                    <p class="sherah-table__product-desc" style="font-size: 14px;">@warehouse.Product.Unit</p>
                                                </div>
                                            </td>
                                            <td class="sherah-table__column-8 sherah-table__data-8" style="min-width:80px;padding:12px 12px 12px 0;text-align:left;">
                                                <div class="sherah-table__product-content">
                                                    <p class="sherah-table__product-desc" style="font-size: 14px;">$@Math.Round((warehouse.Quantity * warehouse.PriceImport), 2)</p>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row" style="margin-top:16px;">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="sherah-table__vendor_info" role="status" aria-live="polite">Showing 2 of @Model.Pageable.TotalItems entries</div>
                                </div>
                                <div class="col-sm-12 col-md-7"></div>
                            </div>
                        </div>
                        <div class="row mg-top-40" style="position: relative; bottom: 26px; right: 37px;">
                            <div class="sherah-pagination">
                                <ul class="sherah-pagination__list">
                                    @if (Model.Pageable.CurrentPage > 1)
                                    {
                                        <li class="sherah-pagination__button"><a href="/Warehouse/Warehouse?page=@(Model.Pageable.CurrentPage > 1 ? Model.Pageable.CurrentPage - 1 : 1)"><i class="fas fa-angle-left"></i></a></li>
                                    }
                                    @for (var i = Model.Pageable.StartPage; i <= Model.Pageable.EndPage; i++)
                                    {
                                        <li class="@(Model.Pageable.CurrentPage == i ? "active" : "")"><a href="/Warehouse/Warehouse?page=@i">@i</a></li>
                                    }
                                    @if (Model.Pageable.CurrentPage < Model.Pageable.TotalPages)
                                    {
                                        <li class="sherah-pagination__button"><a href="/Warehouse/Warehouse?page=@(Model.Pageable.CurrentPage < Model.Pageable.TotalPages ? Model.Pageable.CurrentPage + 1 : Model.Pageable.TotalPages)"><i class="fas fa-angle-right"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Dashboard Inner -->
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End sherah Dashboard -->
