@model WarehouseWebMVC.ViewModels.WarehouseImportViewModel
@{
    ViewData["Title"] = "Warehouse";
    var message = TempData["Message"] as string;
}
@{
    byte[]? userIdBytes = ViewContext.HttpContext.Session.Get("Id");
    long userId = userIdBytes != null ? BitConverter.ToInt64(userIdBytes, 0) : 0;
}

<div id="toast"></div>
@if (!string.IsNullOrEmpty(message))
{
    if ("Failed".Equals(message))
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                setTimeout(function () {
                    toast({
                        title: "Failed",
                        message: "Oops! Action failed. Please try again.",
                        type: "danger",
                        duration: 3000,
                    });
                }, 600);
            });
        </script>
    }
}

<style>
    .sherah-table-order {
        border: 1px solid #fff;
    }

    #sherah-table__orderv1_filter .form-control {
        padding-left: 8px;
    }

    #sherah-table__orderv1_filter .sherah-data-table-label {
        right: 12px;
        top: 7px;
        font-size: 16px;
    }

    .sherah-table__main.sherah-table__main--orderv1 .sherah-table__body tr {
        background: #F9FAFB;
        border-bottom: #F9FAFB;
    }

    .button-plus--disabled {
        cursor: default;
        opacity: .5 !important;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<!-- sherah Dashboard -->
<section class="sherah-adashboard sherah-show">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sherah-body">
                    <!-- Dashboard Inner -->
                    <div class="sherah-dsinner">
                        <div class="row">
                            <div class="col-12">
                                <div class="sherah-breadcrumb mg-top-30">
                                    <h2 class="sherah-breadcrumb__title">Warehouse Import</h2>
                                    <ul class="sherah-breadcrumb__list">
                                        <li><a asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                                        <li class="active"><a href="#!">Warehouse Import</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sherah-page-inner sherah-border sherah-basic-page sherah-default-bg mg-top-25">
                            <div class="sherah-wc__form-main" style="padding: 20px 0;">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <!-- Product Info -->
                                        <div class="product-form-box sherah-border mg-top-30">
                                            <h4 class="form-title m-0">Basic Information</h4>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Deliverer</label>
                                                        <div class="form-group__input">
                                                            <input id="deliverer" class="sherah-wc__form-input" placeholder="Type here" type="text">
                                                            <input id="userId" value="@userId" type="text" style="display:none;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Supplier*</label>
                                                        <select id="supplierId" class="form-group__input" aria-label="Default select example">
                                                            @foreach(var supplier in Model.Suppliers)
                                                            {
                                                                <option value="@supplier.SupplierId">@supplier.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Reason*</label>
                                                        <select id="reason" class="form-group__input" aria-label="Default select example">
                                                            <option value="Import Product">Import Product</option>
                                                            <option value="Tranferred Warehouse">Tranferred Warehouse</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">About Reason</label>
                                                        <div class="form-group__input">
                                                            <input class="tinymce" id="reasonDetail" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Product Info -->
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <!-- Product List -->
                                        <div class="product-form-box sherah-border mg-top-30">
                                            <div class="sherah-table-order">
                                                <table id="sherah-table__orderv1" class="sherah-table__main sherah-table__main--orderv1" style="border: 1px solid #E2E7F1;">
                                                    <thead class="sherah-table__head" style="display:block;border-bottom:#E2E7F1;">
                                                        <tr>
                                                            <th class="sherah-table__column-1 sherah-table__h1" style="width:25%;font-size:16px;font-weight:bold;padding-right:4px;">Product ID</th>
                                                            <th class="sherah-table__column-2 sherah-table__h2" style="width:38%;min-width:140px;padding-left:8px;font-size:16px;font-weight:bold;">Product name</th>
                                                            <th class="sherah-table__column-3 sherah-table__h3" style="width:24%;text-align:center;font-size:16px;font-weight:bold;">Unit</th>
                                                            <th class="sherah-table__column-4 sherah-table__h4" style="width: 15%;text-align:center;padding-right:24px;font-size:16px;font-weight:bold;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="sherah-table__body" style="display:block;max-height:414.5px;overflow-y:auto;">
                                                        @foreach (var product in Model.Products)
                                                        {
                                                            <tr>
                                                                <td class="sherah-table__column-1 sherah-table__data-1" style="width:25%;text-align:center;">
                                                                    <p class="sherah-table__product-name--text">@product.ProductId</p>
                                                                </td>
                                                                <td class="sherah-table__column-2 sherah-table__data-2" style="width:37%;max-width:70px;">
                                                                    <div class="sherah-table__product-name">
                                                                        <p class="sherah-table__product-name--text"
                                                                           style="display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow: hidden;">
                                                                            @product.Name
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                                <td class="sherah-table__column-3 sherah-table__data-3" style="width:28%;text-align:center;padding-left:16px;">
                                                                    <div class="sherah-table__product-content">
                                                                        <p class="sherah-table__product-desc">@product.Unit</p>
                                                                    </div>
                                                                </td>
                                                                <td class="sherah-table__column-4 sherah-table__data-4" style="width:15%;">
                                                                    <div class="sherah-table__status__group" style="justify-content:center;">
                                                                        <button onclick="importProduct({pId: @product.ProductId,pName: '@product.Name',pPrice: @product.Price})"
                                                                                id="button-plus@(product.ProductId)"
                                                                                class="sherah-table__action sherah-color3 sherah-color3__bg--opactity"
                                                                                style="border:none;">
                                                                            <i class="fa-solid fa-plus"></i>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- End Product List -->
                                    </div>
                                </div>
                            </div>
                            <div class="product-form-box sherah-border mg-top-30">
                                <div class="cart-list">
                                    <table id="table-product-imported" class="table" style="border-color:#5A5A5A">
                                        <thead class="thead-primary">
                                            <tr class="text-center">
                                                <th>&nbsp;</th>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody id="product-import-table"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-12"></div>
                                <div class="col-lg-2 col-12">
                                    <div class="product-form-box sherah-border mg-top-10" style="padding:10px;display:flex;justify-content:space-between;">
                                        <h3 style="margin:0">Total:</h3>
                                        <h6 id="total-price-final" style="font-weight:400;margin:0;font-size:16px;"></h6>
                                        <input id="total-input" type="number" style="display:none;"/>
                                    </div>
                                </div>
                            </div>
                            <div class=" mg-top-40 sherah-dflex sherah-dflex-gap-30 justify-content-end">
                                <button onclick="submitData()" class="sherah-btn sherah-btn__primary">Warehouse Import</button>
                                <a href="/Warehouse/WarehouseProduct" class="sherah-btn sherah-btn__third">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Dashboard Inner -->
                </div>
            </div>


        </div>
    </div>
</section>
<script src="/js/lib/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/js/tinymce-config.js"></script>
<script src="/js/warehouse-import-config.js"></script>




