@model WarehouseWebMVC.ViewModels.CRUProductVM

@{
    ViewData["Title"] = "Products";
}

@{
    var message = TempData["Message"] as string;
}

<div id="toast"></div>
@if (!string.IsNullOrEmpty(message))
{
    if ("Failed".Equals(message))
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                toast({
                    title: "Failed",
                    message: "Oops! Action failed. Please try again.",
                    type: "danger",
                    duration: 3000,
                });
            });
        </script>
    }
}

<!-- sherah Dashboard -->
<section class="sherah-adashboard sherah-show">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sherah-body">
                    <!-- Dashboard Inner -->
                    <div class="sherah-dsinner">
                        <div class="row">
                            <div class="col-12">
                                <div class="sherah-breadcrumb mg-top-30">
                                    <h2 class="sherah-breadcrumb__title">Upload Product</h2>
                                    <ul class="sherah-breadcrumb__list">
                                        <li><a href="#">Home</a></li>
                                        <li class="active"><a href="profile-info.html">Upload Product</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sherah-page-inner sherah-border sherah-basic-page sherah-default-bg mg-top-25 p-0">
                            <form id="formAddProduct" class="sherah-wc__form-main" method="post" asp-action="AddProduct" asp-controller="Product">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <!-- Product Info -->
                                        <div class="product-form-box sherah-border mg-top-30">
                                            <h4 class="form-title m-0">Basic Information</h4>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Product Name</label>
                                                        <div class="form-group__input">
                                                            <input asp-for="Product.Name" class="sherah-wc__form-input" placeholder="Type here" type="text" name="p_title">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Price</label>
                                                        <div class="form-group__input">
                                                            <input asp-for="Product.Price" class="sherah-wc__form-input" placeholder="Type here" type="text" name="p_title">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Supplier*</label>
                                                        <select class="form-group__input" aria-label="Default select example">
                                                            @foreach (var supplier in Model.Suppliers)
                                                            {
                                                                <option value="@supplier.SupplierId">@supplier.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">About Description</label>
                                                        <div class="form-group__input">
                                                            <textarea class="tinymce" id="description" asp-for="Product.Description" placeholder="Type here" type="text" name="description"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Product Info -->
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <!-- Organization -->
                                        <div class="product-form-box sherah-border mg-top-30">
                                            <h4 class="form-title m-0">Organization</h4>
                                            <div class="form-group">
                                                <label class="sherah-wc__form-label">Add Category</label>
                                                <div class="form-group__input">
                                                    <input class="sherah-wc__form-input" placeholder="Type here" type="text" name="p_title">
                                                    <button class="sherah-btn__add sherah-btn sherah-btn__secondary" type="button">Add</button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="sherah-wc__form-label">Add Brand</label>
                                                <div class="form-group__input">
                                                    <input class="sherah-wc__form-input" placeholder="Type here" type="text" name="p_title">
                                                    <button class="sherah-btn__add sherah-btn sherah-btn__secondary" type="button">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Organization -->
                                        <!-- Specification -->
                                        <div class="product-form-box sherah-border mg-top-30">
                                            <h4 class="form-title m-0">Specification</h4>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Category*</label>
                                                        <select class="form-group__input" aria-label="Default select example">
                                                            @foreach (var category in Model.Categorys)
                                                            {
                                                                <option value="@category.CategoryId">@category.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Brand*</label>
                                                        <select class="form-group__input" aria-label="Default select example">
                                                            @foreach (var brand in Model.Brands)
                                                            {
                                                                <option value="@brand.BrandId">@brand.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label class="sherah-wc__form-label">Unit</label>
                                                        <select class="form-group__input" aria-label="Default select example">
                                                            <option value="1">Piece</option>
                                                            <option value="2">Pair</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Specification -->
                                    </div>
                                </div>
                                <div class="product-form-box sherah-border mg-top-30">
                                    <div class="form-group">
                                        <div class="image-upload-group">
                                            <div class="col-lg-6 form-group">
                                                <input type="file" class="form-control-file" value="upload" id="productImage1">
                                                <input name="proImage1" type="text" id="proImage1" style="display: none">
                                                <label for="productImage1">Product image</label>
                                                <div id="imgDiv1" style="display:flex;align-items:center;justify-content:center;"></div>
                                                <div id="progress-container1"></div>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <input type="file" class="form-control-file" value="upload" id="productImage2">
                                                <input name="proImage2" type="text" id="proImage2" style="display: none">
                                                <label for="productImage2" class="">Product image</label>
                                                <div id="imgDiv2" style="display:flex;align-items:center;justify-content:center;"></div>
                                                <div id="progress-container2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" mg-top-40 sherah-dflex sherah-dflex-gap-30 justify-content-end">
                                    <button type="submit" class="sherah-btn sherah-btn__primary">Publish Product</button>
                                    <button class="sherah-btn sherah-btn__third">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Dashboard Inner -->
                </div>
            </div>


        </div>
    </div>
</section>

