@model Warehouse.Shared.ViewModels.ProductViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Products";
    var message = TempData["Message"] as string;
}
@{
    var searchType = ViewBag.SearchType as string ?? "";
    var total = ViewBag.Count;
}

<style>
    .sherah-table__vendor .sherah-table__body tr:nth-child(2n+1) {
        background-color: var(--sherah-offset-bg-color);
    }

    tbody {
        scrollbar-width: thin;
    }

    .dataTables_empty {
        text-align: center !important;
    }
</style>

<div id="toast"></div>
@if (!string.IsNullOrEmpty(message))
{
    if ("Success".Equals(message))
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                setTimeout(function () {
                    toast({
                        title: "Success",
                        message: "Success ! Action complete.",
                        type: "success",
                        duration: 3000,
                    });
                }, 600);
            });
        </script>
    }
    else if ("Failed".Equals(message))
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                setTimeout(function () {
                    toast({
                        title: "Failed",
                        message: "Oops! Action failed. Please try again.",
                        type: "danger",
                        duration: 3000,
                    });
                }, 600);
            });
        </script>
    }
    else if ("NotFound".Equals(message))
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                setTimeout(function () {
                    toast({
                        title: "Not found!",
                        message: "No results found for the given search criteria.",
                        type: "warning",
                        duration: 3000,
                    });
                }, 600);
            });
        </script>
    }
}

<!-- sherah Dashboard -->
<section class="sherah-adashboard sherah-show" style="padding-bottom: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sherah-body">
                    <!-- Dashboard Inner -->
                    <div class="sherah-dsinner">
                        <div class="row mg-top-20">
                            <div class="col-12 sherah-flex-between">
                                <!-- Sherah Breadcrumb -->
                                <div class="sherah-breadcrumb">
                                    <h2 class="sherah-breadcrumb__title">Stop Selling List</h2>
                                    <ul class="sherah-breadcrumb__list">
                                        <li><a asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                                        <li class="active"><a href="#!">Stop Selling List</a></li>
                                    </ul>
                                </div>
                                <!-- End Sherah Breadcrumb -->
                                <a asp-area="" asp-controller="Product" asp-action="AddProduct"
                                   class="sherah-btn sherah-gbcolor" style="padding:8px 15px;min-width:150px;justify-content:center;">Add Product</a>
                            </div>
                        </div>
                        <div class="sherah-table sherah-page-inner sherah-border sherah-default-bg mg-top-10" style="padding-top: 0; padding-bottom: 16px;">
                            <div class="row">
                                <div class="col-sm-12 col-md-8"></div>
                                <div class="col-sm-12 col-md-4">
                                    <form method="post" asp-action="SearchProductLock" asp-controller="Product">
                                        <div id="sherah-table__vendor_filter" class="dataTables_filter">
                                            <label for="search-input" style="position: relative;">
                                                <button class="sherah-data-table-label" style="font-size:1rem;position: relative; top:2.7rem; left:18.5rem; right: auto; z-index: 4; border:none;background-color: #F3F4F7;">
                                                    Search
                                                </button>
                                            </label>
                                            <div class="input-group display-flex" style="position: relative;">
                                                <select class="col-2" name="searchType" style="height:40px; width: 90px; font-size:0.75rem;color:#666;">
                                                    <option value="" selected disabled>Search Type</option>
                                                    <option value="Name" id="name_option">Name</option>
                                                    <option value="Category" id="category_option">Category</option>
                                                    <option value="Brand" id="brand_option">Brand</option>
                                                </select>
                                                &nbsp;
                                                <input style="flex-shrink:0;width:auto;z-index:2;" type="search" name="searchValue" class="col-2 form-control form-control-sm" placeholder="Search" aria-controls="sherah-table__vendor">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--style="max-height:350px;overflow-y:auto;overflow-x:hidden;margin-top:10px;position:relative;"-->
                            <table id="sherah-table__main-product"
                                   class="sherah-table__vendor sherah-table__main-v3"
                                   style=" border: 1px solid #e2e7f1;margin-top:8px;">
                                <!-- sherah Table Head -->
                                <!--style="position:sticky;top:0;z-index:1;"-->
                                <thead class="sherah-table__head" style="display:block;">
                                    <tr>
                                        <th class="sherah-table__column-1 sherah-table__h1" style="min-width:300px;font-size:16px;padding-top:12px;padding-bottom:12px;">Product Name</th>
                                        <th class="sherah-table__column-3 sherah-table__h3" style="font-size:16px;padding-top:12px;padding-bottom:12px;">Price</th>
                                        <th class="sherah-table__column-4 sherah-table__h4" style="font-size:16px;text-align:center;padding-top:12px;padding-bottom:12px;">Category</th>
                                        <th class="sherah-table__column-5 sherah-table__h5" style="font-size:16px;text-align:center;padding-top:12px;padding-bottom:12px;">Brand</th>
                                        <th class="sherah-table__column-6 sherah-table__h6" style="font-size:16px;text-align:center;padding:12px 26px 12px 20px;">Unit</th>
                                        <th class="sherah-table__column-7 sherah-table__h7" style="font-size:16px;padding-top:12px;padding-bottom:12px;">Action</th>
                                    </tr>
                                </thead>
                                <!--style="height: 100%;"-->
                                <tbody class="sherah-table__body" style="display:block;max-height:350px;overflow-y:auto;">
                                    @foreach (var product in Model.Products)
                                    {
                                        @if (product.IsDiscontinued)
                                        {
                                            <tr>
                                                <td class="sherah-table__column-1 sherah-table__data-1" style="min-width:320px;padding:12px 16px 12px 12px;text-align:left;">
                                                    <div class="sherah-language-form__input">
                                                        <p class="crany-table__product--number">
                                                            <a href="/Product/ProductDetail?productId=@product.ProductId"
                                                               class="sherah-color1" style="font-size: 1rem;">
                                                                @product.Name
                                                            </a>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="sherah-table__column-3 sherah-table__data-3" style="min-width:80px;padding:16px;text-align:left;">
                                                    <p class="sherah-table__product-desc">$@product.Price</p>
                                                </td>
                                                <td class="sherah-table__column-4 sherah-table__data-4" style="min-width:80px;padding:12px 12px 12px 0;text-align:center;">
                                                    <div class="sherah-table__product-content">
                                                        <p class="sherah-table__product-desc">@product.Category.Name</p>
                                                    </div>
                                                </td>
                                                <td class="sherah-table__column-5 sherah-table__data-5" style="min-width:80px;padding:12px 12px 12px 18px; text-align:center;">
                                                    <div class="sherah-table__product-content">
                                                        <p class="sherah-table__product-desc">@product.Brand.Name</p>
                                                    </div>
                                                </td>
                                                <td class="sherah-table__column-6 sherah-table__data-6" style="min-width:50px;padding:12px 12px 12px 28px;text-align:center;">
                                                    <div class="sherah-table__product-content">
                                                        <p class="sherah-table__product-desc">@product.Unit</p>
                                                    </div>
                                                </td>
                                                <td class="sherah-table__column-7 sherah-table__data-7" style="min-width:150px;padding:12px 12px 12px 0;margin-left:10px;">
                                                    <div class="sherah-table__status__group" style="justify-content:center">
                                                        <a href="/Product/ProductDetail?productId=@product.ProductId" class="sherah-table__action sherah-color1 sherah-color1__bg--opactity">
                                                            <i class="fa-regular fa-eye"></i>
                                                        </a>
                                                        <a href="/Product/UpdateProduct?productId=@product.ProductId" class="sherah-table__action sherah-color4 sherah-color4__bg--opactity">
                                                            <i class="fa-regular fa-pen-to-square"></i>
                                                        </a>
                                                        <a href="#" onclick="handleContinue(@product.ProductId)" class="sherah-table__action sherah-color3 sherah-color3__bg--opactity">
                                                            <i class="fa-solid fa-lock-open"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="row" style="margin-top:16px;">
                                @if (Model.Pageable != null)
                                {
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="sherah-table__vendor_info" role="status" aria-live="polite" style="font-weight:500">Total @total products</div>
                                    </div>
                                }
                                <div class="col-sm-12 col-md-7">
                                    @if (Model.Pageable != null)
                                    {
                                        <div class="sherah-pagination" style="margin-bottom: 0">
                                            <ul class="sherah-pagination__list">
                                                @if (Model.Pageable.CurrentPage > 1)
                                                {
                                                    <li class="sherah-pagination__button"><a href="/Product/ProductListLock?page=@(Model.Pageable.CurrentPage > 1 ? Model.Pageable.CurrentPage - 1 : 1)"><i class="fas fa-angle-left"></i></a></li>
                                                }
                                                @for (var i = Model.Pageable.StartPage; i <= Model.Pageable.EndPage; i++)
                                                {
                                                    <li class="@(Model.Pageable.CurrentPage == i ? "active" : "")"><a href="/Product/ProductListLock?page=@i">@i</a></li>
                                                }
                                                @if (Model.Pageable.CurrentPage < Model.Pageable.TotalPages)
                                                {
                                                    <li class="sherah-pagination__button"><a href="/Product/ProductListLock?page=@(Model.Pageable.CurrentPage < Model.Pageable.TotalPages ? Model.Pageable.CurrentPage + 1 : Model.Pageable.TotalPages)"><i class="fas fa-angle-right"></i></a></li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Dashboard Inner -->
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End sherah Dashboard -->
<script>
    var searchType = "@searchType";
    if (searchType) {
        switch (searchType) {
            case "Name":
                document.getElementById("name_option").setAttribute("selected", "selected");
                break;
            case "Category":
                document.getElementById("category_option").setAttribute("selected", "selected");
                break;
            case "Brand":
                document.getElementById("brand_option").setAttribute("selected", "selected");
                break;
        }
    }
</script>