@model WarehouseWebMVC.ViewModels.ProductViewModel

<div class="container">
    <h1>List product</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <th scope="row">@product.ProductId</th>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Unit</td>
                    <td>@product.Category.Name</td>
                    <td>@product.Brand.Name</td>
                    <td>
                        <a asp-controller="Product" asp-action="TestDetail" asp-route-productId="@product.ProductId">Details</a>
                        <a asp-action="TestEdit" asp-controller="Product">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Paging</h3>
    <a asp-controller="Product" asp-action="TestList" asp-route-page="@Model.Pageable.StartPage">Start page: @Model.Pageable.StartPage</a>
    <a asp-controller="Product" asp-action="TestList" asp-route-page="@Model.Pageable.CurrentPage">Current page: @Model.Pageable.CurrentPage</a>
    <a asp-controller="Product" asp-action="TestList" asp-route-page="@Model.Pageable.EndPage">End page: @Model.Pageable.EndPage</a>
    <h5>TotalProducts: @Model.Pageable.TotalItems</h5>
</div>